@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body{
	background:#111;
	color: #eee;
	font-family: Calibri, sans-serif;
}

a, a:visited, a:active{
	text-decoration: none;
}

.title{
	font-size:18pt;
	color:#fff;
	background:#333;
	margin:10px 10px 10px 0px;
	padding:3px 20px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3);
}

#mainDiv{
	border:0px solid red;
	min-width: 1024px;
	width:100%;
	margin: 0px auto;
	padding:0px;
}

#logo{
	border:0px solid blue;
	background: url('../../../images/.png');
	text-align:right;
	font-family: 'Poiret One', cursive;
	font-size:60pt;
	padding:0px 50px;
}

#menu{
	border:0px solid green;
	list-style:none;
	height:50px;
	margin:0px;
	padding:0px;
}

#menu li{
	border-right:1px solid rgba(255,255,255,0.3);
	list-style:none;
	margin:0px;
	padding:15px 40px;
	float:left;
}

#menu li:last-child{
	border-right:0px solid #fff;
}

#menu li ol{
	border:0px solid lightblue;
	background:#eee;
	color:#222;
	position:absolute;
	margin:15px -40px;
	padding:5px 20px;
}

#menu li ol li{
	border-bottom:1px solid rgba(0,0,0,0.3);
	border-right:0px solid #fff;
	margin:0px;
	padding:5px 20px;
	float:none;
}

#menu li ol li:last-child{
	border-bottom:0px solid #fff;
}

#menu li ol{
	visibility:hidden;
}

#menu li:hover{
	background:#eee;
	color:#222;
}

#menu li:hover ol{
	visibility:visible;
}

#pages{
	border:0px solid deeppink;
	margin:10px 50px;
}